<div class="container-fluid list-main" [formGroup]="formGroup">
  <div class="row">
    <div class="col-auto d-flex align-items-center p-0">
      <button class="btn btn-light" type="button" (click)="onNavigateBackClicked()">
        <
      </button>
      <h2 class="h6 m-0 px-1">Collections / {{document?.name}}</h2>
    </div>
    <div class="col d-flex flex-row-reverse  p-0">
      <div *ngIf="!isEditing" ngbDropdown class="d-inline-block" placement="bottom-end">
        <button type="button" class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
          <i-bs name="three-dots-vertical"></i-bs>
        </button>
        <div ngbDropdownMenu class="dropdown-menu-end" aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngIf="!isEditing" class="btn btn-light" type="button" (click)="onEditClicked()">
            <i-bs name="pencil"></i-bs>
            <span class="px-2">Edit</span>
          </button>
          <button ngbDropdownItem *ngIf="!isEditing" class="btn btn-light" type="button" (click)="onShareClicked()">
            <i-bs name="share"></i-bs>
            <span class="px-2">Share</span>
          </button>
        </div>
      </div>
      <button *ngIf="isEditing" class="btn btn-light" type="button" (click)="onEditCancel()">
        <i-bs name="x"></i-bs>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col px-2" *ngIf="!isEditing">
      <h2 class="h5">{{document?.name}}</h2>
    </div>
    <div class="col" *ngIf="isEditing">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" formControlName="name" placeholder="Enter name">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col px-2" *ngIf="!isEditing && document?.description1">
      <pre>{{document?.description1}}</pre>
    </div>
    <div class="col" *ngIf="isEditing">
      <div class="form-group">
        <label for="description">Name</label>
        <textarea id="description" rows="3" class="form-control" formControlName="description1"
                  placeholder="Enter description"></textarea>
      </div>
    </div>
  </div>
</div>






