<div class="container-fluid list-main" [class.position-fixed-main]="!isEditing" [formGroup]="formGroup">
  <div class="row">
    <div class="col-auto d-flex align-items-center p-0">
      <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    </div>
    <div class="col d-flex flex-row-reverse  p-0">
      <div *ngIf="!isEditing" ngbDropdown class="d-inline-block" placement="bottom-end">
        <button type="button" class="btn btn-light icon-button" id="dropdownBasic1" ngbDropdownToggle>
          <i-bs name="three-dots-vertical"></i-bs>
        </button>
        <div ngbDropdownMenu *ngIf="!isEditing" class="dropdown-menu-end icon-button" aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem class="btn btn-light d-flex" type="button" (click)="onShare()">
            <i-bs name="share"></i-bs>
            <span class="px-2">Teile/Ylade</span>
          </button>
          <button ngbDropdownItem class="btn btn-light d-flex" type="button" (click)="onRandomClicked()">
            <i-bs name="dice-6"></i-bs>
            <span class="px-2">Zuefäuig uswähle</span>
          </button>
        </div>
      </div>
      <app-button-edit (cancel)="onCancel()" (editClicked)="onEdit()" [canEdit]="true"
        (confirm)="onConfirm()" [isEditing]="isEditing">
      </app-button-edit>
      <button *ngIf="!isEditing" type="button" class="btn btn-light icon-button ms-2" (click)="onAddClicked()">
        <i-bs name="plus"></i-bs>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col px-2" *ngIf="!isEditing">
      <h1 class="h4">{{document?.name}}</h1>
    </div>
    <div class="col" *ngIf="isEditing">
      <h1 class="h2">Rezäptsammlig bearbeite</h1>
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" formControlName="name" placeholder="Gib ä Name ii">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col px-2" *ngIf="!isEditing && document?.description1">
      <span class="description">{{document?.description1}}</span>
    </div>
    <div class="col" *ngIf="isEditing">
      <div class="form-group">
        <label for="description">Beschribig</label>
        <textarea id="description" rows="3" class="form-control" formControlName="description1"
          placeholder="Gib ä Beschribig ii"></textarea>
      </div>
    </div>
  </div>
</div>