<div class="modal-header">
    <h4 class="modal-title">Rezapptsammlig teile</h4>
    <button type="button" class="close btn btn-light" aria-label="Close" (click)="closeModal()">
        <i-bs name="x"></i-bs>
    </button>
</div>
<div class="modal-body">
    <p>Du chasch der folgend Link mit öpperem teile u so zäme öi Rezappt verwaute. </p>
    <p><b>Achtung</b>, wennde dini Rezappt mit öpperem teilsch, chöi si se o bearbeite u lösche!</p>
    <div class="btn-group w-100" role="group">
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" [formControl]="urlInput">
        <button type="button" class="btn btn-primary" aria-label="Kopiere" (click)="onCopyActivated()">Kopiere</button>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Zuemache</button>
</div>
