.brand {
  color: white;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-container {
  justify-content: center;
}

.nav-content {

}

.brand-link {
  text-decoration: none;
  justify-content: center;
}

.logo {
  width: 150px;
  padding: 16px;
  path {
    fill: white;
  }
}