.brand {
  color: white;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-container {
  justify-content: center;
  position: fixed;
  height: 50px;
  z-index: 1001;
  box-shadow: 0 4px 6px -6px #222;
}

.nav-content {

}

.brand-link {
  text-decoration: none;
  justify-content: center;
}

.logo {
  width: 150px;
  padding: 16px;
  path {
    fill: white;
  }
}