@import "../../../../customize-bootstrap.scss";

.nav-container {
  background-color: $primary;
  border-bottom: 4px solid #dee2e6;
}

.brand {
  color: white;
}

.brand-link {
  text-decoration: none;
}
