<div class="container-fluid d-flex bg-primary start-container">
    <div class="content-container">
        <div class="logo-container">
            <img class="start-logo" src="assets/logo.svg" >
            <div class="d-flex align-items-center gap-2 start-text-wrapper">
                <span class="h1 start-text">Zäme </span><span class="h1 start-text raleway-800-italic">Rezappt</span><span class="h1 start-text"> verwaute.</span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center">
    <div class="content-container start-login-wrapper">
        <div class="logged-in-container d-flex flex-column align-items-center gap-3 py-3" *ngIf="authService.isAuthenticated(); else login">
            <h1>Salü {{authService.user?.displayName}}</h1> 
            <a routerLink="/list" class="btn btn-primary btn-lg">Zu mine Rezappt</a>
            <button class="btn btn-light" type="submit" (click)="authService.logout()">
                Logout
            </button>
        </div>
        <ng-template #login>
            <app-login-container></app-login-container>
        </ng-template>
    </div>
</div>