@import "../../../../customize-bootstrap.scss";

.start-container {
    justify-content: center;
    height: 100%;
    background-color: $primary;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.start-logo {
    max-width: 200px;
}

.start-text-wrapper {
    flex-wrap: wrap;
    justify-content: center;
}

.start-text {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.start-text.span {
    color: green;

}

.start-login-wrapper {
    padding: 16px;
    max-width: 480px;
}

.logged-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px
}