<div class="flex-container">
    <div class="row">
        <div class="login-wrapper text-center">
            <div *ngIf="authService.isAuthenticated(); else login">
                <button class="btn btn-light" type="submit" (click)="authService.logout()">
                    Logout
                </button>
            </div>
            <ng-template #login>
                <h1>Welcome</h1>
                <div>
                    <button class="btn btn-light" type="submit" (click)="authService.googleLogin()">
                        <svg-icon name="google-logo" [svgStyle]="{ 'width.px':18, 'margin.px': 5 }"></svg-icon>
                        Sign in with Google
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
</div>
