<div class="container-fluid py-3">
    <h2 class="h3">Neui Zuetat erfasse</h2>
    <div class="row">
      <div class="spacer"></div>
      <div class="col p-0 input-group">
        <input autofocus #nameInput type="text" class="form-control" aria-label="Name" [formControl]="name" placeholder="Gib ä Name ii" (keydown.enter)="onConfirm()">
        <input type="text" class="form-control" aria-label="Count" [formControl]="count" placeholder="Gib ä Mängi ii" (keydown.enter)="onConfirm()">
        <button class="btn btn-primary" type="button" (click)="onConfirm()">
          <span>Hinzuefüege</span>
        </button>
      </div>
    </div>
  </div>