<div class="container-fluid p-0 h-100">
  <div class="row h-100">
    <div class="col-4 p-0 layout-left">
      <div class="container-fluid p-0 h-100">
        <div class="row">
          <div class="col-auto d-flex align-items-center">
            <h2 class="h6 m-0 px-1">Collections</h2>
          </div>
          <div class="col d-flex flex-row-reverse">
            <div ngbDropdown class="d-inline-block" placement="bottom-end">
              <button type="button" class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
                <i-bs name="three-dots-vertical"></i-bs>
              </button>
              <div ngbDropdownMenu class="dropdown-menu-end" aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <app-input-filter (valueChanged)="onFilterValueChanged($event)"></app-input-filter>
        </div>
        <div class="row">
          <app-user-list [listitems]="list$ | async" (listSelected)="onListSelected($event)" ></app-user-list>
        </div>
      </div>
    </div>
    <div class="col-8 p-0">
      <router-outlet name="list"></router-outlet>
    </div>
  </div>
</div>


