<div *ngIf="authService.authState$ | async; else notAuthenticated">
    <div ngbDropdown class="d-inline-block" placement="bottom-end">
        <button type="button" class="btn btn-light btn-lg" id="dropdownBasic1" ngbDropdownToggle>
            <img class="align-self-start mr-5 rounded-circle social-icon" [src]="authService.user?.photoURL" referrerpolicy="no-referrer">
        </button>
        <div ngbDropdownMenu class="dropdown-menu-end" aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="onProfileActivated()">Profiu</button>
            <button ngbDropdownItem (click)="authService.logout()">Logout</button>
        </div>
    </div>
</div>
<ng-template #notAuthenticated>
    <div ngbDropdown class="d-inline-block" placement="bottom-end">
        <button type="button" class="btn btn-light btn-lg" id="dropdownBasic1" ngbDropdownToggle>
            <i-bs name="person-circle" class="person-circle"></i-bs>
        </button>
        <div ngbDropdownMenu class="dropdown-menu-end" aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="onLoginActivated()">Login</button>
        </div>
    </div>
</ng-template>
