<div *ngIf="authService.authState$ | async">
    <img class="align-self-start mr-5 rounded-circle social-icon" [src]="authService.user?.photoURL" referrerpolicy="no-referrer">
    <div ngbDropdown class="d-inline-block" placement="bottom-end">
        <button type="button" class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
            <i-bs name="three-dots-vertical"></i-bs>
        </button>
        <div ngbDropdownMenu class="dropdown-menu-end" aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="onProfileActivated()">Profile</button>
          <button ngbDropdownItem (click)="authService.logout()">Logout</button>
        </div>
    </div>
</div>
