<div class="container-fluid item-main" [formGroup]="formGroup" [class.position-fixed-main]="!isEditing">
    <div class="row">
        <div class="col-auto d-flex align-items-center p-0">
            <app-breadcrumb *ngIf="canEdit" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
        </div>
        <div class="col d-flex flex-row-reverse p-0">
            <app-button-edit *ngIf="!isAdding && canEdit" (cancel)="onCancel()" (editClicked)="onEdit()" (addClicked)="onAdd()"
                (confirm)="onConfirm()" [isEditing]="isEditing" [canEdit]="canEdit" [canAdd]="canAdd">
            </app-button-edit>
            <button *ngIf="!isEditing" type="button" class="btn btn-light icon-button ms-2" (click)="onCopyLink()">
                <i-bs name="link-45deg"></i-bs>
            </button>
            <button *ngIf="!isEditing && isUserAuthenticated" type="button" class="btn btn-light icon-button ms-2" (click)="onCopyToCollection()">
                <i-bs name="clipboard"></i-bs>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngIf="!isEditing">
            <h1 class="h4">{{document?.name}}</h1>
        </div>
        <div class="col py-2" *ngIf="isEditing">
            <h1 class="h4">Rezäpt bearbeite</h1>
            <div class="form-group">
                <input id="name" type="text" class="form-control" formControlName="name" placeholder="Name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex flex-row gap-1" *ngIf="!isEditing && document?.tags">
            <span class="description" *ngFor="let tag of document?.tags; let i = index">
                <span>{{tag}}</span>
            </span>
        </div>
        <div class="col" *ngIf="isEditing">
            <div class="btn-group flex-wrap" role="group" aria-label="Tags">
                <ng-container *ngIf="document?.tags?.length! === 0">
                    -
                </ng-container>
                <ng-container *ngFor="let tag of document?.tags; let i = index">
                    <button type="button" class="close btn btn-outline-primary btn-sm d-flex" aria-label="Close"
                        (click)="onDeleteTag(i)">
                        {{tag}}<i-bs name="x">delete</i-bs>
                    </button>
                </ng-container>
            </div>
            <div class="form-group py-2">
                <div id="name" class="input-group" role="group" aria-label="Gib es Täg ii">
                    <input type="text" class="form-control" [formControl]="tagInput" placeholder="Gib es Täg ii"
                        (keydown.enter)="onTagEntered()">
                    <button type="button" class="close btn btn-outline-secondary btn-sm" aria-label="Close"
                        (click)="onTagEntered()">
                        <i-bs name="plus">add</i-bs>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>