<div class="container-fluid p-0 item-main">
    <div class="row" *ngIf="document">
        <div class="col-auto d-flex align-items-center">
            <button class="btn btn-light" type="button" (click)="onNavigateBackClicked()">
                <
            </button>
            <h2 class="h6 m-0 px-1">{{document.name}}</h2>
        </div>
        <div class="col d-flex flex-row-reverse">
            <button *ngIf="!isEditing" class="btn btn-light" type="button" (click)="onEditClicked()">
                <i-bs name="pencil"></i-bs>
            </button>
            <button *ngIf="isEditing" class="btn btn-light" type="button" (click)="onEditCancel()">
                <i-bs name="x"></i-bs>
            </button>
        </div>
    </div>
</div>
