<div class="container-fluid item-main" [formGroup]="formGroup">
    <div class="row">
        <div class="col-auto d-flex align-items-center p-0">
            <app-breadcrumb *ngIf="canEdit" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
        </div>
        <div class="col d-flex flex-row-reverse p-0">
            <app-button-edit *ngIf="!isAdding && canEdit" (cancel)="onCancel()" (editClicked)="onEdit()" (addClicked)="onAdd()"
                (confirm)="onConfirm()" [isEditing]="isEditing" [canEdit]="canEdit" [canAdd]="canAdd">
            </app-button-edit>
        </div>
    </div>
    <div class="row">
        <div class="col px-2" *ngIf="!isEditing">
            <h2 class="h5">{{document?.name}}</h2>
        </div>
        <div class="col py-2" *ngIf="isEditing">
            <div class="form-group">
                <label for="name"><h3 class="h6">Name</h3></label>
                <input id="name" type="text" class="form-control" formControlName="name" placeholder="Enter name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col px-2" *ngIf="!isEditing && document?.tags">
            <span>{{getTags}}</span>
        </div>
        <div class="col" *ngIf="isEditing">
            <h3 class="h6">Tags</h3>
            <div class="btn-group" role="group" aria-label="Tags">
                <ng-container *ngIf="document?.tags?.length! === 0">
                    -
                </ng-container>
                <ng-container *ngFor="let tag of document?.tags; let i = index">
                    <button type="button" class="close btn btn-outline-primary btn-sm d-flex" aria-label="Close"
                        (click)="onDeleteTag(i)">
                        {{tag}}<i-bs name="x">delete</i-bs>
                    </button>
                </ng-container>
            </div>
            <div class="form-group py-2">
                <div id="name" class="input-group" role="group" aria-label="Enter new tag">
                    <input type="text" class="form-control" [formControl]="tagInput" placeholder="Enter tag name"
                        (keydown.enter)="onTagEntered()">
                    <button type="button" class="close btn btn-outline-secondary btn-sm" aria-label="Close"
                        (click)="onTagEntered()">
                        <i-bs name="check"></i-bs>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col px-2" *ngIf="!isEditing && document?.description1">
            <pre class="m-0 item-description">{{document?.description1}}</pre>
        </div>
        <div class="col py-2" *ngIf="isEditing">
            <div class="form-group">
                <label for="description"><h3 class="h6">Description</h3></label>
                <textarea id="description" rows="6" class="form-control" formControlName="description1"
                    placeholder="Enter description"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex align-items-center px-2">
            <h3 class="h6 my-2">Ingredients</h3>
        </div>
    </div>
</div>