<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col p-0">
                        <app-item-main
                                [document]="doc$ | async"
                                [isEditing]="isEditing"
                                (editClicked)="onEdit()"
                                (editCancel)="onEditCancel()"
                                (navigateBack)="onNavigateBack()"
                                (valueChanged)="onValueChanged($event)">
                        </app-item-main>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-0">
                        <app-item-list
                                [listitems]="listitems$ | async"
                                [isEditing]="isEditing"
                                (addNewActivated)="onAddNewActivated($event)"
                                (deleteActivated)="onDeleteActivated($event)"
                                (editItemActivated)="onEditItemActivated($event)"
                        ></app-item-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

