<div class="content-container container-fluid h-100">
    <div class="row h-100">
        <div class="col p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col p-0">
                        <app-item-main [document]="doc$ | async" [isEditing]="isEditing" [canEdit]="authService.isAuthenticated()"
                            (editClicked)="onEdit()" (confirmClicked)="onConfirm()"
                            (editCancel)="onEditCancel()" (navigateBack)="onNavigateBack()"
                            (valueChanged)="onValueChanged($event)" (addTagClicked)="onAddTag($event)"
                            (deleteTagClicked)="onDeleteTag($event)">
                        </app-item-main>
                    </div>
                </div>
                <div class="p-3">
                    <h3 class="h4 my-2">Zuetate</h3>
                </div>
                <div class="row">
                    <div class="col p-0">
                        <app-item-add *ngIf="isEditing" [listitems]="listitems$ | async" (cancel)="onEditCancel()"
                            (confirm)="onAddConfirm($event)"></app-item-add>
                        <app-item-list [listitems]="listitems$ | async" [isEditing]="isEditing"
                            (deleteActivated)="onDeleteActivated($event)"
                            (itemsChanged)="onEditItemActivated($event)"></app-item-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>