/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'customize-bootstrap.scss';
@import 'bootstrap/scss/bootstrap';

body,html {
  margin: 0;
  padding: 0;
  height:100%;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

main {
  padding-top: 50px;
}

.dropdown-toggle::after{
  content:initial
}

button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-group {
  gap: .2rem;
}

.btn-group > .btn {
  flex-grow: 0;
}

.btn {
  font-weight: 600;

}

.btn-primary {
  color: white;
}

.social-icon {
  width: 30px;
}

.position-fixed-main {
  position: fixed;
  height: 100px;
  top: 50px;
  z-index: 1000;
  max-width: 1600px;
}

.fixed-top-150 {
  position: fixed;
  top: 150px;
  z-index: 500;
  max-width: 1600px;
}

.margin-fixed-main {
  margin-top: 100px;
}

.bg-primary {
  background-color: $primary;
}

.icon-button {
  color: rgb(253, 55, 138);
}

i-bs {
  display: flex;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.content-container {
  max-width: 1600px;
  flex: 1;
}


// Fonts
.raleway-800-italic {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
}

.raleway-800 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.raleway-400 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,h2,h3,h4,h5 {
  font-weight: 800;
}

pre {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  text-wrap: pretty;
  margin-bottom: 0.5rem;
}

span.description {
  font-size: 0.75rem;
  display: inline-block; /* Ensure the span is treated as a block container */
  max-width: 100%;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowed text */
  text-overflow: ellipsis; /* Apply ellipsis to overflowed text */
  vertical-align: bottom; /* Align with surrounding text */
}


:root {
  --bs-border-radius: 0; /* Example: Change the border radius */
  --bs-border-radius-sm: 0; /* Example: Change the border radius */
}

