/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'customize-bootstrap.scss';
@import 'bootstrap/scss/bootstrap';

body,html {
  margin: 0;
  padding: 0;
  height:100%;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dropdown-toggle::after{
  content:initial
}

button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn {
  font-weight: 600;
}

.btn-primary {
  color: white;
}

.social-icon {
  width: 30px;
}

.bg-primary {
  background-color: $primary;
}

.icon-button {
  color: rgb(253, 55, 138);
}

i-bs {
  display: flex;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.content-container {
  max-width: 1600px;
  flex: 1;
}


// Fonts
.raleway-800-italic {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
}

.raleway-800 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.raleway-400 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,h2,h3,h4,h5 {
  font-weight: 800;
}

pre {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.2rem;
  text-wrap: pretty;
}

