<ng-container *ngIf="listitems">
    <div class="container-fluid" *ngIf="listitems.length > 0; else noItems">
        <ng-container *ngIf="isEditing; else showOnly">
            <div [formGroup]="form">
                <ng-container formArrayName="listitems">
                    <ng-container *ngFor="let lessonForm of listitemControls.controls; let i = index">
                        <div class="row" [formGroupName]="i">
                            <div class="col p-0">
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div class="col p-0">
                                <input type="text" class="form-control" formControlName="count">
                            </div>
                            <div class="col-auto p-0">
                                <button class="btn btn-light" type="button" (click)="deleteItem(i)">
                                    <i-bs name="trash"></i-bs>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <div class="row">
                    <div class="col-auto p-0">
                        <button class="btn btn-light" type="button" (click)="addNew()">
                            <i-bs name="plus"></i-bs>
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #showOnly>
            <ng-container *ngIf="listitems">
                <div class="row" *ngFor="let item of listitems">
                    <div class="col">{{item.name}}</div>
                    <div class="col">{{item.count}}</div>
                </div>
            </ng-container>
        </ng-template>
    </div>
    <ng-template #noItems>
        <div class="d-flex justify-content-center">
            <p>No items yet.</p>
        </div>
    </ng-template>
</ng-container>
