<div class="container-fluid">
    <div class="row">
        <div class="col btn-group p-0" role="group">
            <button class="btn btn-light btn-sm icon-button" type="button" (click)="onNavigateHome()">
                <i-bs name="house"></i-bs>
            </button>
            <ng-container *ngFor="let crumb of breadcrumbs; let i = index">
                <button type="button" class="btn btn-light btn-sm px-0 d-flex icon-button align-items-center" (click)="onNavigateCrumb(crumb)">
                    <span class="description m-0 d-flex"><&nbsp;{{crumb.name}}</span>
                </button>
            </ng-container>
        </div>
    </div>
</div>