<div *ngIf="doc$ | async as doc" class="container-fluid p-0">
    <app-list-main
            [document]="doc$ | async"
            [isEditing]="isEditing"
            (editClicked)="onEditClicked()"
            (editCancel)="onEditCancel()"
            (navigateBack)="onNavigateBackClicked()"
    ></app-list-main>

    <div class="row p-0">
        <ng-container *ngIf="listId">
            <app-list-item
                    [listId]="listId"
                    [listitems]="listItems$ | async"
                    [isEditing]="isEditing"
                    (itemSelected)="onItemSelected($event)"
                    (deleteActivated)="onDeleteActivated($event)"
                    (addNewActivated)="onAddNewActivated($event)"
                    (editItemActivated)="onEditItemActivated($event)"
            ></app-list-item>
        </ng-container>
    </div>
</div>






