<div *ngIf="doc$ | async as doc" class="container-fluid pt-2">
    <app-list-main
            [document]="doc$ | async"
            [isEditing]="isEditing"
            (editClicked)="onEditClicked()"
            (editCancel)="onEditCancel()"
            (navigateBack)="onNavigateBackClicked()"
    ></app-list-main>
    <hr/>
    <div class="row p-2">
        <ng-container *ngIf="listId">
            <app-list-item
                    [listId]="listId"
                    [listitems]="listItems$ | async"
                    [isEditing]="isEditing"
                    (itemSelected)="onItemSelected($event)"
            ></app-list-item>
        </ng-container>
    </div>
</div>






