<div class="list-group" *ngIf="!isEditing; else showOnly">
    <button type="button" class="list-group-item list-group-item-action"
            *ngFor="let item of listitems"
            (click)="itemSelected(item.id)">
        {{item.name}}
    </button>
</div>
<ng-template #showOnly>
  <div class="container-fluid">
    <ng-container *ngFor="let item of listitems; let i = index">
      <div class="row">
        <div class="col p-0 list-group">
          <button type="button" class="list-group-item list-group-item-action"
                  (click)="itemSelected(item.id)">
            {{item.name}}
          </button>
        </div>
        <div class="col-auto p-0">
          <button class="btn btn-light" type="button" (click)="deleteItem(i)">
            <i-bs name="trash"></i-bs>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>
